.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Row {
  display: flex;
}

.ColumnLeft {
  width: 33%;
  padding: 1rem;
}

.ColumnLeft .tag {
  margin-bottom: 0.5rem;
  cursor: pointer;
  background: #40c5ed;
  color: white;
  padding: 0.5rem;
  border-radius: 12px;
  width: fit-content;
}

.ColumnLeft .tag.active_tag {
  background: #4a879a;
}

.ColumnRight{
  width: 67%;
  padding: 1rem;
}

.ColumnRight .selected_tag {
  margin-bottom: 2rem;
  font-size: 18px;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.ColumnRight .err {
  color: red;
}

.ColumnRight .posts_parent {

}

.posts_parent .post {
  display: flex;
  margin-bottom: 1.5rem;
  border: 1px solid rgb(225, 217, 217);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 4px 3px 10px #e9dcdc;
}

.post .left img{
  width: 150px;
  height: 100%;
}

.post .right {
  width: 100%;
  padding-left: 1rem;
  padding-top: 1rem;
}